@media (min-width:1000px){
    
    .product__carrossel{
        
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content: center;
        gap:106px;
    }
            
}