@media(max-width:999px){
    .carrossel{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
                
        .thumb{
            display:none;
        }
        .big{
             right:17vw;
             top:-200vh;   
             position:absolute;
            -webkit-transition: right 1s ease;
            -moz-transition: right 1s ease;
            -o-transition: right 1s ease;
            -ms-transition: right 1s ease;
            transition: right 1s ease;
            z-index:-2;
        }
        .big__featured{
            
            top:15vh;
            position:relative;
            
            
        }
        .manual-btn{
            border:2px solid #ffffff;
            padding:5px;
            border-radius:50%;
            transition:.4s;        
            
        }
        .manual-btn:not(:last-child){
            margin-right:1rem;
        }
        .manual-btn:hover{
            background: #DE8F75;
            border:2px solid #DE8F75;
        }
       
        a > input{
            /*border-radius: 50%;
            padding:5px;
            z-index: 10000;
            right:50px;
            top:50vh;
            margin-right:4vw;
            position: relative;
            -webkit-appearance:none;
            border:2px solid white;
            outline: none;*/
            display:none;
        }
        
        .carrossel__manual-btn {
            display:flex;
            width:250px;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            z-index:1000;
            position:relative;
            top:3rem;
            
        }
        
}
}
@media (min-width:1000px){
    
    .product__carrossel{
        max-width:100%;
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content: space-around;
        gap:10vw;
        a > input,label{
            display:none;
        }
    }
    
    .carrossel{
        display: flex;
        flex-direction: column;
        position: relative;
        height:45rem;
        width:45rem;
        overflow: hidden;
        margin: 0 auto;
        a,video{
            float: left;
            margin:5% 0 0 10%;
            width: 10%;
        }
        .big{
            position: absolute;
            top:760px;
            right:-20px;
            height:80% ;
            -webkit-transition: top 1s ease;
            -moz-transition:top 1s ease;
            -o-transition: top 1s ease;
            -ms-transition:top 1s ease;
            transition: top 1s ease;
        }
        .big__featured{
            top: 80px;
            right:-20px;
            height:80%;
            z-index: -3;
            position: absolute;
        }
        a:hover .thumb{
            -webkit-box-shadow:0px 0px 15px rgba(0,0,0,0.5);
            -moz-box-shadow:0px 0px 15px rgba(0,0,0,0.5);
            box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
        }
        a:hover .big{
            top:80px;
        }
    }

}           
