#modal{
    width:100vw;
    height:100vh;
    background: rgba(32, 32, 32, 0.6);
    display: flex;
    justify-content: center;
    position: absolute;
    top:0;
    z-index: 1000000000;
    overflow: hidden;
    position: fixed;
     #link{
            text-decoration: underline;
            color:#AEB6C1;
        }
            
}
@media (min-width:1000px){
    .confirm-purchase{
        height:602px;
        width:445px;
        margin-top: 5rem;
        background: #ffffff;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        gap:.5rem;
        
        img{
            width:305px;
            order:1;
            height:358.65px;
        }
        h3{
            color:#DE8F75;
            font-size: 22px;
            font-weight: 400;
            text-align: center;
            order:2;
            width:300px;
        }
        button,#link{
            order:3;
            outline: none;
            transition: .4s;
            cursor: pointer;
        }
        button:hover{
            background: #02af87;
        }
        .modal__button--close{
            border:none;
            outline: none;
            background: transparent;
            display:flex;
            justify-content: center;
            right:calc(-100% + 250px);
            position: relative;
            align-items: center;
            top:-28rem;
            cursor: pointer;
            &:before,
            &:after{
                content:' ';
                width: 1.9px;
                height:16.36px;
                background-color:#5F75AA;
                position: absolute;
                
                
            }
            &:before{
                transform: rotate(45deg);
            }
            &:after{
                transform: rotate(-45deg);
            }
        }
        
    }
    
    .modal__button--confirm{
        background: #32917B;
        color:#ffffff;
        height:50px;
        width: 305px;
        border-radius:3px;
    }
}

@media (max-width:999px){
    
    .confirm-purchase{
        background: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:10px;
        width:290px;
        height:430px;
        border-radius: 3px;
        margin-top: 35px;
        overflow: hidden;
        
        
        img{
            height:246.34px;
            width:190px;
        }
        .modal__button--confirm{
            background: #32917B;
            color:#ffffff;
            height: 50px;
            width:190px;
            border-radius: 3px;
        }
        .modal__button--close{
            border:none;
            outline: none;
            background: transparent;
            display:flex;
            justify-content: center;
            right:calc(-100% + 170px);
            position: relative;
            align-items: center;
            top:-50px;
            cursor: pointer;
            &:before,
            &:after{
                content:' ';
                width: 1.9px;
                height:16.36px;
                background-color:#5F75AA;
                position: absolute;
                
                
            }
            &:before{
                transform: rotate(45deg);
            }
            &:after{
                transform: rotate(-45deg);
            }
        }
        h3{
            font-weight: 400;
            display: flex;
            align-items: center;
            text-align: center;
            line-height: 23px;
            font-size: 16px;
            width:200px;
        }
       
    }
}