@media (max-width:999px){
    .navbar{
        width: 100%;
        margin: 5% 0 0 0;
        display: flex;
        flex:1;
        justify-content: space-around;
        align-items:center;
        z-index:0;
        background:#fff;
        .navbar__search--mobile{
            width:100%;
            height:45px;
            position:absolute;
            z-index:10000;
            display:flex;
            align-items:center;
            justify-content:center;
            transition:.4s;
            background:white;
            left:0%;
            top:-10%;
            &:before{
               content:url('../assets/Union.svg');
               transform: translateX(100%);
            }
            
            
            input[name='search-mobile']{
                transition: all .4s;
                width:90%;
                height:80%;
                outline:none;
                border-bottom:1px solid rgba(104, 104, 104, 0.4);
                border-radius:3px;
                padding-left: 30px;
            }
            label{
                padding:10px;
            }
            
        }
        .logo{
            transform:translateX(10%);
        }
        .navbar__sign{
            display:none;
        }
        .navbar__search{
            
            p{
                display:none;
            }
        }
    }
    
    .navbar__rightside{
        display:flex;
        flex-direction:row;
        align-items:baseline;
        justify-content:space-around;
        gap:5vw;
        input[name='search']{
            display:none;
            
        }
        input[name='search-mobile']{
            height:80%;
            width:80%;
            
          
            
        }
        label:hover ~ .navbar__search--mobile{
            left:0%;
            top:1%;
            display:flex;
        }
        .navbar__search--mobile:hover{
            left:0% !important;
            top:1% !important;
            display:flex !important;
        }
        
    }
    
    .navbar__bag{
        position:relative;
        display:flex;
        align-items:flex-end;
        justify-content:center;
        span{
            position:absolute;
            
        }
    }
    

}

@media (min-width:1000px){
    
    .div-logoweb{
        width:100%;
        display:flex;
        flex:1;
        align-items:center;
        justify-content:center;
        border:0;
        height:86px;

        .logo--web{
            min-width:145px;
            min-height:45px;
        }
    }
    .navbar{
        min-height:50px;
        border-top: 2px solid #CCCCCC;
        border-bottom:2px solid #CCCCCC;
        display:flex;
        align-items:center;
        justify-content:space-around;
        .logo{
            display:none;
        }
        .navigation{
            display:none;
        }
        .navbar__sign{
            color:#686868;
            display:flex;
            align-items:center;
            justify-content:space-around;
            width:130px;
            font-size:12px;
            
        }
        .sections{
            display:flex;
            align-items:center;
            justify-content:space-evenly;
            min-width:30vw;
            -webkit-font-smoothing:antialiased;
            font-size:14px;
        }
        .navbar__rightside{
            display:flex;
            align-items:center;
            justify-content: flex-end;
            label{
                display: none;
            }
            input{
                margin-right: 2rem;
                background:url('../assets/Union.svg') no-repeat 9px center;
                padding-left: 40px;
            }
            .navbar__bag {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                span{
                position: absolute;
                font-size: 12px;
                transform: translateY(2px);

            }
            
        }
    }
        .navbar__search--mobile{
            display:none;
        }
        .navbar__search{
            display:flex;
            align-items:center;
            border-bottom:1px solid rgba(104, 104, 104, 0.4);
            height:35px;
            outline: none;
            width:100px;
            left:50px;
            transition:.4s;
            
            
        }
        input[type=search]:focus{
            width:170px !important;
        }
    }
}