@media (max-width:999px){
    
    .navbar{
        width: 100%;
        margin: 5% 0 0 0;
        display: flex;
        flex:1;
        justify-content: space-around;
        align-items:center;
        z-index:0;
        background:#fff;
        .navigation__div{
           
            z-index:9;
        }
        .modal{
            width:100vw;
            height:200vh;
            background: rgba(32, 32, 32, 0.6);
            z-index:10;
            position:fixed;
            
        }
        .sections__conteiner{
            height:100%;
            width:100vw;
            position: absolute;
            display: flex;
            align-items: center;
            
        }
        .navbar__sign--mobile{
            display: flex;
            position: relative;
            width: 100%;
            top:0;
            justify-content: flex-start;
            gap:5%;
            align-items: center;
            color:black;
            font-weight: 400;
            z-index:100;
            height:180px;
            background: rgb(245, 241, 241);
            .link:first-child{
                color:#606060;
                margin-left: 5%;
                
            }
        }
        .sections:nth-child(3) {
            padding:15% 70% 10% 0;
        }
        .sections__mobile{
            display: flex;
            align-items:flex-start;
            justify-content:flex-start;
            flex-direction: column;
            background:white;
            width:80vw;
            height:100vh;
            top:0%;
            color:#606060 !important; 
            z-index:10;
            position: fixed;
            transition: all .4s;
            button{
                position:absolute;
                right:10%;
                top:30px;
                z-index:1;
            &:before,
            &:after{
                content:' ';
                width: 2.9px;
                height:20.36px;
                background-color:#5F75AA;
                position: absolute;
                
                
            }
            &:before{
                transform: rotate(45deg);
            }
            &:after{
                transform: rotate(-45deg);
            }
            } 
            li{
                height:150px;
                border-bottom: 1px solid rgb(245, 241, 241);;
                width:inherit;
                display: flex;
                align-items:center;
                justify-content: flex-start;
                font-weight: 700;
                transition: all .4s;
                .link{
                    margin-left: 10px!important;
                    
                }
                
            }
            
            li:hover:not(:first-child){
                background:#DE8F75;
                border-bottom: 1px solid white;
                .link{
                    color:white;
                    font-weight: 400;
                }
            }
        }
        .navbar__search--mobile{
            width:100%;
            height:45px;
            position:absolute;
            z-index:10000;
            display:flex;
            align-items:center;
            justify-content:center;
            transition:.4s;
            background:white;
            left:0%;
            top:-10%;
            &:before{
               content:url('../assets/Union.svg');
               transform: translateX(100%);
            }
            
            
            input[name='search-mobile']{
                transition: all .4s;
                width:90%;
                height:80%;
                outline:none;
                border-bottom:1px solid rgba(104, 104, 104, 0.4);
                border-radius:3px;
                padding-left: 30px;
            }
            label{
                padding:10px;
            }
            
        }
        .logo{
            transform:translateX(10%);
        }
        .navbar__sign{
            display:none;
        }
        .navbar__search{
            
            p{
                display:none;
            }
        }
    }
    
    .navbar__rightside{
        display:flex;
        flex-direction:row;
        align-items:baseline;
        justify-content:space-around;
        gap:5vw;
        z-index:9;
        input[name='search']{
            display:none;
            
        }
        input[name='search-mobile']{
            height:80%;
            width:80%;
            
          
            
        }
        label:hover ~ .navbar__search--mobile{
            left:0%;
            top:1%;
            display:flex;
        }
        .navbar__search--mobile:hover{
            left:0% !important;
            top:1% !important;
            display:flex !important;
        }
        
    }
    
    .navbar__bag{
        position:relative;
        display:flex;
        align-items:flex-end;
        justify-content:center;
        span{
            position:absolute;
            
        }
    }
    

}

@media (min-width:1000px){
    
    .div-logoweb{
        width:100%;
        display:flex;
        flex:1;
        align-items:center;
        justify-content:center;
        border:0;
        height:86px;

        .logo--web{
            min-width:145px;
            min-height:45px;
        }
    }
    .navbar{
        min-height:50px;
        border-top: 2px solid #CCCCCC;
        border-bottom:2px solid #CCCCCC;
        display:flex;
        align-items:center;
        justify-content:space-around;
        .modal{
            display:none;
        }
        .logo{
            display:none;
        }
        .navigation{
            display:none;
        }
        .navbar__sign--mobile{
            display: none;
        }
        .navbar__sign{
            color:#686868;
            display:flex;
            align-items:center;
            justify-content:space-around;
            width:130px;
            font-size:12px;
            
        }
        .sections{
            display:flex;
            align-items:center;
            justify-content:center;
            gap:100px;
            margin-left:100px;
            width:50vw;
            -webkit-font-smoothing:antialiased;
            font-size:14px;
            
            
        }
         .link:hover{
                color:#DE8F75;
                transition:all .2s ease-out;
            }
        .navbar__rightside{
            display:flex;
            align-items:center;
            justify-content: flex-end;
            label{
                display: none;
            }
            input{
                margin-right: 2rem;
                background:url('../assets/Union.svg') no-repeat 9px center;
                padding-left: 40px;
            }
            .navbar__bag {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                span{
                position: absolute;
                font-size: 12px;
                transform: translateY(2px);

            }
            
        }
    }
        .navbar__search--mobile{
            display:none;
        }
        .navbar__search{
            display:flex;
            align-items:center;
            border-bottom:1px solid rgba(104, 104, 104, 0.4);
            height:35px;
            outline: none;
            width:100px;
            left:50px;
            transition:.4s;
            
            
        }
        input[type=search]:focus{
            width:170px !important;
        }
    }
}