    
.modal__shoppingCart{
    width:100vw;
    height:100vh;
    background: rgba(32, 32, 32, 0.6);
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top:0;
    z-index: 1000000000;
    position: fixed; 
    
    
    .shoppingCart{
        background:#ffffff ;
        width:35vw;
        .shoppingCart__items{
            
            width: 90%;
            height:70%;
            border-top: 1px solid #E3E3E3 !important;
            padding-top: 30px;
        }
              
        img{
            width:46px ;
            height:59px ;
        }
        header{
            width: 90%;
            display:flex;
            flex-direction: column;
            text-align: left ;
            margin-bottom: 10px;
            span{
                color:#AEB6C1;
                margin-bottom: 5px;
                font-size:14px;
            }

            span:first-child{
                flex-basis: 100%;
                font-weight: 400;
                font-size:18px;
                color:#DE8F75;
                margin-top:31px;
            }
            
        }
        ul{
            width:90%;
        }

        ul .shoppingCart__info-product{
            display:grid;
            grid-template-columns:46px calc(60% - 10%);
            grid-template-rows: 38px 25.5px;
            width:50%;
            grid-column-gap:9.5px; 
            
            img{
               
                grid-column: 1;
                grid-row: 1/3;
            }
            p{
                grid-column-start: 2;
                grid-row-start: 1;
                font-size:12px;
                place-self:center;
            }
            span{
                font-size:14px;
                font-weight:bold;
                grid-column-start: 2;
                grid-row-start: 2;
                
            }
        }
        ul li{
            display: flex;
            margin-bottom:15px;
        }
        ul .shoppingCart__counter{
            display: flex;
            align-items:center;
            justify-content: space-evenly;
            width: 50%;
            button:not(:nth-child(2)){
                font-size:20px;
                color:#AEB6C1;
                font-weight: bold;
                border-radius:0px;
                outline:none;
                background:none;
            }
            button:nth-child(2){
                font-size:14px;
                color:#5F75AA;
                border:0px;
                
            }
            .shoppingCart__delete-product{
                align-items:center;
                display:flex;
                justify-content:center;
                position:relative;
                right:calc(-100% + 90px);
                
            
            &:before,
            &:after{
                content:' ';
                width: 2px;
                height:13.36px;
                background-color:#CCCCCC;
                position: absolute;
                right:5vw;
                
                
            }
            &:before{
                transform: rotate(45deg);
            }
            &:after{
                transform: rotate(-45deg);
            }
            }
        }
        .shoppingCart__footer{
            height:140px;
            width:inherit;
            bottom:0;
            position: absolute;
            .shoppingCart__footer--top{
                height:50px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #AEB6C1;
                color:#ffffff;
                text-align: center;
                p{
                    width:70%;
                    font-size:14px;
                    font-weight:100;
                    line-height: 20.5px;
                }
                
            }
            .shoppingCart__footer--bottom{
                height:90px;
                background:#E3E3E3;
                display: grid;
                grid-template-columns:50% 50%;
                grid-template-rows: 10%;
                align-items: center;
                
                span{
                    color:#686868;
                    font-weight: bold;
                    font-size:16px;
                    justify-self: center;
                    transform: translateY(20px);    
                }
                p{
                    color:#686868;
                    font-size:12px;
                    transform: translateY(-5px);
                    justify-self: center;
                }
                button{
                    height:42px;
                    width: 236px;
                    font-size: 12px;
                    background: #32917B;
                    border-radius:3px;
                    color:#ffffff;
                    justify-self: start;
                    transform: translateY(30px);
                    cursor:pointer;
                    transition:.4s;
                            
                }
                button:hover{
                    background:#02af87;
                }    
            }
        }
        
        
    }
}  
@media(min-width:1000px){
    .modal__button--close{
        border:none;
        outline: none;
        background: transparent;
        display:flex;
        justify-content: center;
        right:calc(-100% + 50px);
        position: relative;
        align-items: center;
        top:2rem;
        cursor: pointer;
        &:before,
        &:after{
            content:' ';
            width: 1.9px;
            height:20.36px;
            background-color:#5F75AA;
            position: absolute;
            
            
        }
        &:before{
            transform: rotate(45deg);
        }
        &:after{
            transform: rotate(-45deg);
        }
    }
    

    .shoppingCart__header{
        margin-left: 5%;
    }
    .shoppingCart__items{
        margin-left: 5%;
        
        
    }
    .shoppingCart__footer--bottom{
        span{
            color:#202020 !important;
        }
        p{
            color:#000000!important;
            
        }
    }
}

@media(max-width:999px){
    .modal__shoppingCart{
    width:100vw;
    height:100vh;
    background: rgba(32, 32, 32, 0.6);
    display: flex;
    justify-content: center;
    position: absolute;
    top:0;
    z-index: 1000000000;
    position: fixed;
    
    .shoppingCart{
        width:100vw;
        height:100vh;
        background: #ffffff;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow-y: none;
        scrollbar-color: #DE8F75 grey;
        .modal__button--close{
            border:none;
            outline: none;
            background: transparent;
            display:flex;
            justify-content: center;
            right:calc(-100% + 225px);
            position: relative;
            align-items: center;
            top:2rem;
            cursor: pointer;
            &:before,
            &:after{
                content:' ';
                width: 1.9px;
                height:25.36px;
                background-color:#5F75AA;
                position: absolute;
                
                
            }
            &:before{
                transform: rotate(45deg);
            }
            &:after{
                transform: rotate(-45deg);
            }
        }
        
        .shoppingCart__footer{
            height:113px;
        
        }
        
        .shoppingCart__footer--bottom{
            height:63px;
            background:#E3E3E3;
            display: grid;
            grid-template-columns:50% 50%;
            grid-template-rows: 10%;
            align-items: center;
            grid-column-gap:5vw;
            span{
                color:#686868;
                font-weight: bold;
                font-size:16px;
                justify-self: center;
                transform: translateY(15px);    
            }
            p{
                color:#686868;
                font-size:12px;
                transform: translateY(-5px)!important;
                justify-self: end !important;
            }
            button{
                height:42px;
                width: 144px !important;
                font-size: 12px;
                background: #32917B;
                border-radius:3px;
                color:#ffffff;
                transform: translateY(25px);
                right:10px;
                
            }
        }
        
    }
}
}