@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
@import './product_colors';
@import './product_sizes';
@import './product_prices';
@import './product';
@import './footer';

*{
    padding:0;
    margin:0;
    border:0;
    vertical-align: baseline;
    list-style:none;
    font-family: 'Montserrat' , 'sans-serif';
    

}

#root{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
}

h1,h2,h3,h4,h5{
    color: #DE8F75;
    font-family: 'Montserrat' , 'sans-serif';
}



.navbar{
    width: 100%;
    margin: 5% 0 0 0;
    display: flex;
    flex:1;
    justify-content: space-around;
}

.navbar .logo{
    transform: translateX(20%);
}

.navbar .lupa{
    transform: translateX(70%);
}

.navbar__bag{
    position:relative;
    display:flex;
    align-items:flex-end;
    justify-content:center;
    span{
        position:absolute;
        
    }
}
